In [3]:
# Importing Libraries
import pandas as pd
import numpy as np

In [4]:
appl = pd.read_csv('aapl.csv')
appl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-05-02,158.149994,166.479996,154.179993,157.279999,155.502945,443872900
1,2022-05-09,154.929993,156.740005,138.800003,147.110001,145.661560,686227300
2,2022-05-16,145.550003,149.770004,132.610001,137.589996,136.235306,548244700
3,2022-05-23,137.789993,149.679993,137.139999,149.639999,148.166672,495921700
4,2022-05-30,149.070007,151.740005,144.460007,145.380005,143.948608,338923400

In [5]:
# Create a function that reads and selects the columns below
def read(data):
    # Read data from CSV file
    df = pd.read_csv(data)
    # Select only the 'Date' and 'Close' columns
    df = df[['Date', 'Close']]
    
#     Convert the date column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    return df

In [6]:
# APPL (Apple)

appl = read('AAPL.csv')
appl

          Date       Close
0   2022-05-02  157.279999
1   2022-05-09  147.110001
2   2022-05-16  137.589996
3   2022-05-23  149.639999
4   2022-05-30  145.380005
..         ...         ...
101 2024-04-08  176.550003
102 2024-04-15  165.000000
103 2024-04-22  169.300003
104 2024-04-29  173.029999
105 2024-05-03  183.380005

[106 rows x 2 columns]

In [7]:
# DKNG (Draftkings Inc.)

dkng = read('DKNG.csv')
dkng.shape

(106, 2)

In [8]:
# DNA (Gingko Bioworks Holding Inc)

dna = read('DNA.csv')
dna.shape

(106, 2)

In [9]:
# Lets define a function that calculates weekly returns 

def calculate_weekly_returns(df):
# Set 'Date' column as index
    df.set_index('Date')
    
# Convert date to to read in words
    df['Date'] = df['Date'].dt.strftime('%d %B %Y').str.replace(' 0', ' ')
    
# Compute weekly returns
    df['Weekly Return'] = df['Close'].pct_change() * 100
    
#     Dropping null values(This is because the first value will be null)
    df.dropna(inplace = True)
    
#     Dropping the "Closing Price column as we only need the Weekly Return"
    df = df.drop(columns=['Close'])
    
    
    return df

In [10]:
# Getting the weekly returns of each stock

# Gingko Bioworks Holdings
dna_weekly = calculate_weekly_returns(dna)

# Apple inc
appl_weekly = calculate_weekly_returns(appl)

# Draftkings Inc
dkng_weekly = calculate_weekly_returns(dkng)

In [11]:
dkng_weekly.head()

           Date  Weekly Return
1   09 May 2022      -4.106464
2   16 May 2022      11.260904
3   23 May 2022       4.918033
4   30 May 2022     -13.586957
5  06 June 2022       2.987421

In [12]:
# Merge the DataFrames on the 'Date' column
merged_df = pd.merge(dna_weekly, appl_weekly, on='Date')
# merged_df
merged_df = pd.merge(merged_df,dkng_weekly, on='Date')

In [13]:
# Renaming columns
merged_df = merged_df.rename(columns = {'Weekly Return_x': 'Gingko Bioworks(DNA)',
                           'Weekly Return_y': 'Apple Inc(AAPL)',
                            'Weekly Return':'Draftkings(DKNG)'})

In [14]:
merged_df

              Date  Gingko Bioworks(DNA)  Apple Inc(AAPL)  Draftkings(DKNG)
0      09 May 2022             -1.845018        -6.466174         -4.106464
1      16 May 2022             -1.879699        -6.471351         11.260904
2      23 May 2022             22.988506         8.757906          4.918033
3      30 May 2022             14.018692        -2.846828        -13.586957
4     06 June 2022            -22.950820        -5.674783          2.987421
..             ...                   ...              ...               ...
100  08 April 2024             -6.481481         4.110155         -6.313559
101  15 April 2024            -14.356436        -6.542058         -8.005429
102  22 April 2024             -0.578035         2.606062          6.022618
103  29 April 2024              0.116279         2.203187         -0.231862
104    03 May 2024             10.917538         5.981625         -2.811989

[105 rows x 4 columns]

In [15]:
merged_df.describe()

       Gingko Bioworks(DNA)  Apple Inc(AAPL)  Draftkings(DKNG)
count            105.000000       105.000000        105.000000
mean              -0.311576         0.218103          1.610562
std               11.847972         3.796582         10.203540
min              -23.157895       -11.146783        -25.198413
25%               -7.555556        -2.009415         -4.106464
50%               -2.054795         0.154138          0.941915
75%                6.185567         2.610374          6.022618
max               35.714286         8.757906         31.564987

In [16]:
# Create a table with the Average weekly returns, volatility, skewness and kurtosis for each stock

statistics = {'Average Weekly returns': merged_df.mean(numeric_only = True),
             'Volatility': merged_df.std(numeric_only = True),
             'Skewness': merged_df.skew(numeric_only = True),
             'Kurtosis':merged_df.kurtosis(numeric_only = True)}

# Create DataFrame from statistics dictionary
statistics_df = pd.DataFrame(statistics)

# Lets transpose
statistics_df = statistics_df.transpose()
statistics_df

,Gingko Bioworks(DNA),Apple Inc(AAPL),Draftkings(DKNG)
Average Weekly returns,-0.311576,0.218103,1.610562
Volatility,11.847972,3.796582,10.203540
Skewness,0.603942,-0.236032,0.418521
Kurtosis,0.368238,0.037153,1.352618

In [17]:
# Lets find the correlation matrix

corelation_matrix = merged_df.corr(numeric_only=True)
corelation_matrix

                      Gingko Bioworks(DNA)  Apple Inc(AAPL)  Draftkings(DKNG)
Gingko Bioworks(DNA)              1.000000         0.459468          0.502725
Apple Inc(AAPL)                   0.459468         1.000000          0.499045
Draftkings(DKNG)                  0.502725         0.499045          1.000000

In [18]:
covariance_matrix = merged_df.cov(numeric_only = True)
covariance_matrix

                      Gingko Bioworks(DNA)  Apple Inc(AAPL)  Draftkings(DKNG)
Gingko Bioworks(DNA)            140.374431        20.667696         60.775029
Apple Inc(AAPL)                  20.667696        14.414038         19.332301
Draftkings(DKNG)                 60.775029        19.332301        104.112219